body {
	font-family: 'Montserrat', sans-serif;
    margin: 0px;
	background-color: #404040;
}

p {
	font-weight: 700;
	font-size: 4em;
	color: #fff;
	margin: 0;
}

.octavia, .maya {
	width: 50%
}

.octavia {
	padding-right: 2em;
}
.maya {
	padding-left: 2em;
}

.octavia p {
	text-align: right;
}

.octavia .links {
	display: flex;
	flex-direction: row-reverse;
	padding-right: 2.5em;
}

.maya p {
	text-align: left;
}

.maya .links {
	display: flex;
	flex-direction: row;
}

img {
	width: 2em;
	height: 2em;
}

a {
	padding: 10px;
}

a:hover {
    color: #e3e3e3;
}

.container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	display: flex;
	
	width: 100%;
	position: fixed;
	text-align: center;
}

.projectbutton {
	width: 100%;
	position: fixed;
	text-align: center;
	bottom: 2em;
}

.button {
	font-family: 'Montserrat', sans-serif;
	background-color: #303030;
	border: 1px solid #fff;
	color: white;
	padding: 0.5em 1em;
	font-size: 1.2em;
	opacity: 0.6;
	transition: 0.3s;
	cursor: pointer;
}

.button:focus {
	outline: 0;
}

.button:hover {
	opacity: 1.0;
}

.heart p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: right;
	
	font-weight: 700;
	font-size: 2em;
	color: #fff;
	margin: 0.75em 0 0 0;
}

#render-canvas {
    width: 100%;
    height: 100%;
}

#texture-canvas {
    position: fixed;
    left: 16px;
    top: 16px;
    width: 320px;
    height: 240px;
    border: 1px solid white;
    box-sizing: border-box;
    display: none;
}

#texture-left {
    top: 95px;
    left: 16px;
}

#texture-right {
    top: 95px;
    left: 174px;
}

#texture-top {
    top: 16px;
    left: 95px;
}

#texture-bottom {
    top: 174px;
    left: 95px;
}

#texture-front {
    top: 95px;
    left: 95px;
}

#texture-back {
    top: 95px;
    left: 253px;
}

.texture {
    border: 1px solid white;
    position: fixed;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}
