body {
	font-family: 'Montserrat', sans-serif;
    margin: 0px;
	background-color: #404040;
}

p {
	font-weight: 700;
	font-size: 4em;
	color: #000;
	margin: 0.75em 0 0 0;
}

.projectbutton {
	width: 100%;
	position: fixed;
	text-align: center;
	bottom: 2em;
}

.button {
	font-family: 'Montserrat', sans-serif;
	background-color: #303030;
	border: 1px solid #fff;
	color: white;
	padding: 0.5em 1em;
	font-size: 1.2em;
	opacity: 0.6;
	transition: 0.3s;
	cursor: pointer;
}

.button:focus {
	outline: 0;
}

.button:hover {
	opacity: 1.0;
}
